<div ng-show="projectId">
	<input type="text" ng-model="query" class="form-control search-box" placeholder="Search assets" />
	<div class="scrollable">
		<ul class="asset-list">
			<li ng-repeat="asset in assets | filter:query" ng-click="selectAsset(asset)" ng-class="getActiveClass(asset)" ng-dblclick="startRename(asset)">
				<span ng-class="getTypeIconClass(asset)"></span>
				<span ng-hide="editedAsset == asset">{{asset}}</span>
				<form ng-show="editedAsset == asset" ng-submit="finishRename()">
					<input ng-show="editedAsset == asset" type="text" ng-model="$parent.tempName" class="rename-box" ng-class="{error: renameError}" placeholder="Name" ng-blur="finishRename()" ng-keypress="checkEscape($event)" />
				</form>
			</li>
		</ul>
	</div>
	<div class="add-button">
		<div class="btn-group btn-block dropup">
			<button type="button" class="btn btn-block dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-plus"></span> Add
			</button>
			<ul class="dropdown-menu btn-block" role="menu">
				<li><a href="" ng-click="createAsset('tex')"><span class="glyphicon glyphicon-picture"></span> Texture</a></li>
				<li><a href="" ng-click="createAsset('geom')"><span class="glyphicon glyphicon-th-large"></span> Geometry</a></li>
				<li><a href="" ng-click="createAsset('seq')"><span class="glyphicon glyphicon-film"></span> Sequence</a></li>
				<li><a href="" ng-click="createAsset('song')"><span class="glyphicon glyphicon-music"></span> Song</a></li>
				<li><a href="" ng-click="createAsset('glsl')"><span class="glyphicon glyphicon-fire"></span> Shader</a></li>
			</ul>
		</div>
	</div>
</div>
