#navbar .header
{
  float: left;
  margin-left: 10px;
}

#navbar .menu
{
  float: right;
  list-style-type: none;
}

#navbar .menu li
{
  display: inline;
  margin-right: 10px;
}

#navbar .menu a
{
    margin-left: 10px;
    outline: 0;
}

#navbar a:hover
{
    /*color: #0ce3ac;*/
    color: #2ef4cd;
    text-decoration: none;
}
