#engine .canvas-container
{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#canvas-overlay-text
{
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
}

#engine canvas
{
  /*display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 20px;*/
  height: 100%;
}
